
<form class="form-control form-control-sm mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
<h1 class="text-center"> Add transaction to account</h1>
  <div class="row mb-3 mt-5 justify-content-center">
    <label for="customer" class="col-sm-3 col-form-label text-end">Customer:</label>
    <div class="col-sm-2">
      <select class="form-select form-select-sm" id="customer" (change)="getCustomerId($event)">
        <option selected readonly>Select ...</option>
        <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
      </select>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <label for="customer" class="col-sm-3 col-form-label text-end">Account:</label>
    <div class="col-sm-2">
      <select class="form-select form-select-sm" id="account" (change)="getBalance($event)" formControlName="accountId">
        <option selected readonly>Select ...</option>
        <option *ngFor="let account of accounts" [value]="account.id">{{account.accountNumber}}</option>
      </select>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <label for="foreignAccount" class="col-sm-3 col-form-label text-end">Foreign account No:</label>
    <div class="col-sm-2">
      <input type="number" [maxLength]="4" class="form-control form-control-sm" name="foreignAccount" id="foreignAccount" formControlName="foreignAccount">
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <label for="value" class="col-sm-3 col-form-label text-end">Value:</label>
    <div class="col-sm-2">
      <input type="number" class="form-control form-control-sm" name="value" id="value" formControlName="value">
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <label for="balance" class="col-sm-3 col-form-label text-end">Account balance:</label>
    <div class="col-sm-2">
      <p class="form-control form-control-sm text-end" id="balance">{{accountBalance | number:'1.2-2'}} {{accountCurrency}}</p>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <label for="type" class="col-sm-3 col-form-label text-end">Transaction type:</label>
    <div class="col-sm-2">
      <select class="form-select form-select-sm" id="type" formControlName="type">
        <option selected disabled>Select ...</option>
        <option value="EXPENSE">EXPENSE</option>
        <option value="INCOME">INCOME</option>
      </select>
    </div>
  </div>
<div class="row mb-3">
  <button class="btn-sm btn-primary m-auto w-25" type="submit">Save</button>
  <button class="btn-sm btn-warning m-auto w-25">Cancel</button>
</div>
</form>
