<div class="title justify-content-center">
  <h1>{{title}}</h1>
</div>
&nbsp;
&nbsp;
<div class="container justify-content-center col-8 m-auto">
  <table class="table table-sm table-striped mx-auto">
    <thead class="table-dark p-3">
    <tr class="m-3">
      <th class="text-end">No</th>
      <th class="text-center">Customer Name</th>
      <th class="text-center">Account numbers</th>
      <th class="text-end">Account balance</th>
      <th class="text-center">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers; let i = index">
      <td class="t-top text-end">{{i + 1}}</td>
      <td class="t-top t-center">
        <a class="text-decoration-none link-dark" routerLink="/edit-customer/{{customer.id}}">{{customer.name}}</a>
      </td>
      <td class="text-center">
        <div class="link-dark text-decoration-none" *ngFor="let account of customer.accounts">
          <a routerLink="/account/{{account.id}}" class="link-dark text-decoration-none">{{account.accountNumber}}</a>
        </div>
      </td>
      <td class="text-sm-end">
        <div *ngFor="let account of customer.accounts" class="t-right">
          {{account.balance | number: '1.2'}} {{account.currency}}
        </div>
      </td>
      <td class="text-sm-end">
        <button class="btn btn-sm btn-danger" [disabled]="customer.accounts?.length !==0" (click)="deleteCustomerById(customer)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
