<div class="title justify-content-center">
  <h1>{{title}}</h1>
</div>
&nbsp;
&nbsp;<div class="container justify-content-center col-8">
<table class="table table-striped">
  <thead class="table-dark">
  <tr>
    <th>#</th>
    <th>Customer Name</th>
    <th class="t-center">Account numbers</th>
    <th>Account balance</th>
    <th>is Foreign Account</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td class="t-top">{{customer.id}}</td>
    <td class="t-top t-center">{{customer.name}}</td>
    <td>
      <div *ngFor="let account of customer.accounts">
        {{account.accountNumber}}
      </div>
    </td>
    <td>
      <div *ngFor="let account of customer.accounts" class="t-right">
        {{account.balance | number: '1.2'}} {{account.currency}}
      </div>
    </td>
    <td>
      <div *ngFor="let account of customer.accounts" class="t-right">
        {{account.foreign | yesNo}}
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
