<div class="container-lg text-center justify-content-center">
<h1> Register new client with account</h1>
  <form class="m-5">
    <div class="row row-cols-1 mb-1">
      <label class="col-sm-4 col-form-label text-end">Customer name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Customer name">
      </div>
    </div>
    <div class="row row-cols-1 mb-1">
      <label class="col-sm-4 col-form-label text-end">Account No:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Account No">
      </div>
    </div>
    <div class="row row-cols-1 mb-1">
      <label class="col-sm-4 col-form-label text-end">Account currency:</label>
      <div class="col-sm-2">
      <select class="form-select" aria-label="Default select example">
        <option selected>Currency</option>
        <option value="1">PLN</option>
        <option value="2">USD</option>
        <option value="3">EUR</option>
      </select>
      </div>
    </div>
    <div>
      <button class="btn btn-success m-2" style="width: 120px">Save</button>
      <button class="btn btn-danger m-2" style="width: 120px">Cancel</button>
    </div>
  </form>
</div>

<div></div>
