<div class="container-lg text-center justify-content-center">
  <h1> Register new client with account</h1>
  <form #form=ngForm (ngSubmit)="onSubmit(form)" class="align-content-center m-auto">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Customer name:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" name="name" ngModel [(ngModel)]="customerName">
      </div>
    </div>

    <div class="row mb-3">
      <label for="accountNumber" class="col-sm-2 col-form-label">Account number:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="accountNumber" name="AccountNumber" ngModel
               [(ngModel)]="accountNumber">
      </div>
    </div>

    <div class="row mb-3">
      <label for="currency" class="col-sm-2 col-form-label">Currency: </label>
      <div class="col-sm-5">
        <select class="form-select" id="currency" name="currency" [(ngModel)]="currency">
          <option selected disabled>Choose ...</option>
          <option value="PLN">PLN</option>
          <option value="PLN">USD</option>
          <option value="PLN">EUR</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
